body{
  background-image: url(fond.jpg);
  background-size: cover;
}

#titre{
  background-image: url(titre.jpg);
  background-size: 282%;
  background-position: left;
  background-repeat: no-repeat;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  width: auto;
  height: auto;
  border-radius: 26px;
  -moz-box-shadow: 0 0 6px 4px grey;
  box-shadow: 0 0 6px 4px green;
}

#titre p{
  font-weight: bold;
  font-family: sans-serif;
  font-size: 52px;
  text-shadow: 5px 5px 5px blue;
  color: red;
  text-align: center; 
}

#titre img{
  width: 06%;
}

.menug{
  margin-left: 20px;
  background-image: url(terre.jpg);
  float: left;
  font-weight: bold;
  color: white;
  border: 2px solid green;
  width: auto;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 4px green;
  box-shadow: 0 0 6px 4px brown;
  padding: 10px;
}

.menud{
  margin-right: 20px;
  background-image: url(terre.jpg);
  float: right;;
  font-weight: bold;
  color: white;
  border: 2px solid green;
  width: auto;
  border-radius: 10px;
  -moz-box-shadow: 0 0 6px 4px green;
  box-shadow: 0 0 6px 4px brown;
  padding: 10px;
}

@media all and (min-width: 960px){

body{
  background-size: contain;
}

.menug{
  font-size: 115%;
  margin-left: 200px;
}

.menud{
  font-size: 115%;
  margin-right: 200px;
}

}
